@page
@model WebLibrary.Pages.Account.ResetPasswordModel
@{
    
}
<h2>重置密码</h2>
<form method="post">
    <input type="hidden" asp-for="UserId" />

    <div class="mb-3">
        <label class="form-label">新密码</label>
        <input asp-for="NewPassword" type="password" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">确认新密码</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">重置密码</button>
</form>