<h4>编辑密保问题</h4>

<form method="post" id="securityForm">
    <div class="form-group">
        <label>问题1</label>
        <input asp-for="Question" class="form-control" id="Question" />
        <label>答案1</label>
        <input asp-for="Answer1" class="form-control" id="answer1" />
    </div>

    <div class="form-group">
        <label>问题2</label>
        <input asp-for="Question2" class="form-control" id="question2" />
        <label>答案2</label>
        <input asp-for="Answer2" class="form-control" id="answer2" />
    </div>

    <div class="form-group">
        <label>问题3</label>
        <input asp-for="Question3" class="form-control" id="question3" />
        <label>答案3</label>
        <input asp-for="Answer3" class="form-control" id="answer3" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">保存</button>
</form>